## Build a decision tree classifier to predict whether a customer will purchase a product or service based on their demographic and behavioral data.

# Fetch Dataset

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
bank_marketing = fetch_ucirepo(id=222) 
  
# data (as pandas dataframes) 
X = bank_marketing.data.features 
y = bank_marketing.data.targets 
  
# metadata 
print(bank_marketing.metadata) 
  
# variable information 
print(bank_marketing.variables)

{'uci_id': 222, 'name': 'Bank Marketing', 'repository_url': 'https://archive.ics.uci.edu/dataset/222/bank+marketing', 'data_url': 'https://archive.ics.uci.edu/static/public/222/data.csv', 'abstract': 'The data is related with direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a term deposit (variable y).', 'area': 'Business', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 45211, 'num_features': 16, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Occupation', 'Marital Status', 'Education Level'], 'target_col': ['y'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 2014, 'last_updated': 'Fri Aug 18 2023', 'dataset_doi': '10.24432/C5K306', 'creators': ['S. Moro', 'P. Rita', 'P. Cortez'], 'intro_paper': {'title': 'A data-driven approach to predict the success of bank telemarketing', 'authors': 'SÃ©rgio Moro, P. Cortez, P. Rita', 'published_in': 'Decision Support Systems', 'year': 2014, 'url': 'https://www.semanticscholar.org/paper/cab86052882d126d43f72108c6cb41b295cc8a9e', 'doi': '10.1016/j.dss.2014.03.001'}, 'additional_info': {'summary': "The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. \n\nThere are four datasets: \n1) bank-additional-full.csv with all examples (41188) and 20 inputs, ordered by date (from May 2008 to November 2010), very close to the data analyzed in [Moro et al., 2014]\n2) bank-additional.csv with 10% of the examples (4119), randomly selected from 1), and 20 inputs.\n3) bank-full.csv with all examples and 17 inputs, ordered by date (older version of this dataset with less inputs). \n4) bank.csv with 10% of the examples and 17 inputs, randomly selected from 3 (older version of this dataset with less inputs). \nThe smallest datasets are provided to test more computationally demanding machine learning algorithms (e.g., SVM). \n\nThe classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Input variables:\n   # bank client data:\n   1 - age (numeric)\n   2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",\n                                       "blue-collar","self-employed","retired","technician","services") \n   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)\n   4 - education (categorical: "unknown","secondary","primary","tertiary")\n   5 - default: has credit in default? (binary: "yes","no")\n   6 - balance: average yearly balance, in euros (numeric) \n   7 - housing: has housing loan? (binary: "yes","no")\n   8 - loan: has personal loan? (binary: "yes","no")\n   # related with the last contact of the current campaign:\n   9 - contact: contact communication type (categorical: "unknown","telephone","cellular") \n  10 - day: last contact day of the month (numeric)\n  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")\n  12 - duration: last contact duration, in seconds (numeric)\n   # other attributes:\n  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)\n  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)\n  15 - previous: number of contacts performed before this campaign and for this client (numeric)\n  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")\n\n  Output variable (desired target):\n  17 - y - has the client subscribed a term deposit? (binary: "yes","no")\n', 'citation': None}}
           name     role         type      demographic  \
0           age  Feature      Integer              Age
1           job  Feature  Categorical       Occupation
2       marital  Feature  Categorical   Marital Status
3     education  Feature  Categorical  Education Level
4       default  Feature       Binary             None
5       balance  Feature      Integer             None
6       housing  Feature       Binary             None
7          loan  Feature       Binary             None
8       contact  Feature  Categorical             None
9   day_of_week  Feature         Date             None
10        month  Feature         Date             None
11     duration  Feature      Integer             None
12     campaign  Feature      Integer             None
13        pdays  Feature      Integer             None
14     previous  Feature      Integer             None
15     poutcome  Feature  Categorical             None
16            y   Target       Binary             None

                                          description  units missing_values
0                                                None   None             no
1   type of job (categorical: 'admin.','blue-colla...   None             no
2   marital status (categorical: 'divorced','marri...   None             no
3   (categorical: 'basic.4y','basic.6y','basic.9y'...   None             no
4                              has credit in default?   None             no
5                              average yearly balance  euros             no
6                                   has housing loan?   None             no
7                                  has personal loan?   None             no
8   contact communication type (categorical: 'cell...   None            yes
9                        last contact day of the week   None             no
10  last contact month of year (categorical: 'jan'...   None             no
11   last contact duration, in seconds (numeric). ...   None             no
12  number of contacts performed during this campa...   None             no
13  number of days that passed by after the client...   None            yes
14  number of contacts performed before this campa...   None             no
15  outcome of the previous marketing campaign (ca...   None            yes
16          has the client subscribed a term deposit?   None             no

# Import Python Libraries

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score

In [4]:
X

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,NaN
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,NaN
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,NaN
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other

In [5]:
y

         y
0       no
1       no
2       no
3       no
4       no
...    ...
45206  yes
45207  yes
45208  yes
45209   no
45210   no

[45211 rows x 1 columns]

In [6]:
mapping={
    'yes':1,
    'no':0
}
X['default']=X['default'].map(mapping)
X['housing']=X['housing'].map(mapping)
X['loan']=X['loan'].map(mapping)

C:\Users\Mishu shah\AppData\Local\Temp\ipykernel_28156\2769214780.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['default']=X['default'].map(mapping)
C:\Users\Mishu shah\AppData\Local\Temp\ipykernel_28156\2769214780.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['housing']=X['housing'].map(mapping)
C:\Users\Mishu shah\AppData\Local\Temp\ipykernel_28156\2769214780.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['loan']=X['loan'].map(mapping)

In [7]:
X

,age,job,marital,education,default,balance,housing,loan,contact,day_of_week,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,0,2143,1,0,NaN,5,may,261,1,-1,0,NaN
1,44,technician,single,secondary,0,29,1,0,NaN,5,may,151,1,-1,0,NaN
2,33,entrepreneur,married,secondary,0,2,1,1,NaN,5,may,76,1,-1,0,NaN
3,47,blue-collar,married,NaN,0,1506,1,0,NaN,5,may,92,1,-1,0,NaN
4,33,NaN,single,NaN,0,1,0,0,NaN,5,may,198,1,-1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,0,825,0,0,cellular,17,nov,977,3,-1,0,NaN
45207,71,retired,divorced,primary,0,1729,0,0,cellular,17,nov,456,2,-1,0,NaN
45208,72,retired,married,secondary,0,5715,0,0,cellular,17,nov,1127,5,184,3,success
45209,57,blue-collar,married,secondary,0,668,0,0,telephone,17,nov,508,4,-1,0,NaN
45210,37,entrepreneur,married,secondary,0,2971,0,0,cellular,17,nov,361,2,188,11,other

# count  the values

In [8]:
X['job'].value_counts()

job
blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
Name: count, dtype: int64

In [9]:
X['poutcome'].value_counts()

poutcome
failure    4901
other      1840
success    1511
Name: count, dtype: int64

# Mapping of Poutcome column values

In [10]:
mapping1={
    'failure':0,
    'success':1,
    'other':2
}
X['poutcome']=X['poutcome'].map(mapping1)

C:\Users\Mishu shah\AppData\Local\Temp\ipykernel_28156\1339161061.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['poutcome']=X['poutcome'].map(mapping1)

# Total null values

In [11]:
X.isnull().sum()

age                0
job              288
marital            0
education       1857
default            0
balance            0
housing            0
loan               0
contact        13020
day_of_week        0
month              0
duration           0
campaign           0
pdays              0
previous           0
poutcome       36959
dtype: int64

# Drop columns

In [12]:
X=X.drop(['education','contact','poutcome'],axis=1)

# Concatinate X and Y

In [13]:
data=pd.concat([X,y],axis=1)

In [14]:
data

,age,job,marital,default,balance,housing,loan,day_of_week,month,duration,campaign,pdays,previous,y
0,58,management,married,0,2143,1,0,5,may,261,1,-1,0,no
1,44,technician,single,0,29,1,0,5,may,151,1,-1,0,no
2,33,entrepreneur,married,0,2,1,1,5,may,76,1,-1,0,no
3,47,blue-collar,married,0,1506,1,0,5,may,92,1,-1,0,no
4,33,NaN,single,0,1,0,0,5,may,198,1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,0,825,0,0,17,nov,977,3,-1,0,yes
45207,71,retired,divorced,0,1729,0,0,17,nov,456,2,-1,0,yes
45208,72,retired,married,0,5715,0,0,17,nov,1127,5,184,3,yes
45209,57,blue-collar,married,0,668,0,0,17,nov,508,4,-1,0,no
45210,37,entrepreneur,married,0,2971,0,0,17,nov,361,2,188,11,no

# Drop all na values

In [15]:
data=data.dropna()

In [16]:
data

,age,job,marital,default,balance,housing,loan,day_of_week,month,duration,campaign,pdays,previous,y
0,58,management,married,0,2143,1,0,5,may,261,1,-1,0,no
1,44,technician,single,0,29,1,0,5,may,151,1,-1,0,no
2,33,entrepreneur,married,0,2,1,1,5,may,76,1,-1,0,no
3,47,blue-collar,married,0,1506,1,0,5,may,92,1,-1,0,no
5,35,management,married,0,231,1,0,5,may,139,1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,0,825,0,0,17,nov,977,3,-1,0,yes
45207,71,retired,divorced,0,1729,0,0,17,nov,456,2,-1,0,yes
45208,72,retired,married,0,5715,0,0,17,nov,1127,5,184,3,yes
45209,57,blue-collar,married,0,668,0,0,17,nov,508,4,-1,0,no
45210,37,entrepreneur,married,0,2971,0,0,17,nov,361,2,188,11,no

In [20]:
X=data.drop('y',axis=1)

In [21]:
y=data['y']

In [22]:
X

,age,job,marital,default,balance,housing,loan,day_of_week,month,duration,campaign,pdays,previous
0,58,management,married,0,2143,1,0,5,may,261,1,-1,0
1,44,technician,single,0,29,1,0,5,may,151,1,-1,0
2,33,entrepreneur,married,0,2,1,1,5,may,76,1,-1,0
3,47,blue-collar,married,0,1506,1,0,5,may,92,1,-1,0
5,35,management,married,0,231,1,0,5,may,139,1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,0,825,0,0,17,nov,977,3,-1,0
45207,71,retired,divorced,0,1729,0,0,17,nov,456,2,-1,0
45208,72,retired,married,0,5715,0,0,17,nov,1127,5,184,3
45209,57,blue-collar,married,0,668,0,0,17,nov,508,4,-1,0
45210,37,entrepreneur,married,0,2971,0,0,17,nov,361,2,188,11

# Convert values of column job in frequency and map them as well

In [32]:
freq=X['job'].value_counts()

In [33]:
X['job']=X['job'].map(freq)

In [35]:
mapping2={
    'married':1,
    'divorced':2,
    'single':0
}
X['marital']=X['marital'].map(mapping2)

In [37]:
X=X.drop('month',axis=1)

In [38]:
X

,age,job,marital,default,balance,housing,loan,day_of_week,duration,campaign,pdays,previous
0,58,9458,1,0,2143,1,0,5,261,1,-1,0
1,44,7597,0,0,29,1,0,5,151,1,-1,0
2,33,1487,1,0,2,1,1,5,76,1,-1,0
3,47,9732,1,0,1506,1,0,5,92,1,-1,0
5,35,9458,1,0,231,1,0,5,139,1,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,7597,1,0,825,0,0,17,977,3,-1,0
45207,71,2264,2,0,1729,0,0,17,456,2,-1,0
45208,72,2264,1,0,5715,0,0,17,1127,5,184,3
45209,57,9732,1,0,668,0,0,17,508,4,-1,0
45210,37,1487,1,0,2971,0,0,17,361,2,188,11

In [40]:
y

0         no
1         no
2         no
3         no
5         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 44923, dtype: object

# Train the dataset

In [42]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=3)

# Assigment  and fitting of model

In [44]:
model=DecisionTreeClassifier()

In [45]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

# Model prediction

In [46]:
y_pred=model.predict(X_test)

# Model accuracy

In [48]:
accuracy=accuracy_score(y_test,y_pred)

In [49]:
accuracy

0.8579802626697336

# SUMMARY

1.Loading the Data:

- Use the Bank Marketing dataset from the UCI Machine Learning Repository.

2.Data Cleaning and Preprocessing:

- Handle missing values, if any.
- Convert categorical variables to numerical using techniques like one-hot encoding.
- Split the dataset into training and testing sets.

3.Building the Decision Tree Classifier:

- Use scikit-learn to build the decision tree model.
- Train the model on the training dataset.

4.Evaluating the Model:

- Evaluate the modelâs performance using metrics such as accuracy.
- Visualize the decision tree.
5.Interpreting Results:

- Interpret the decision tree to understand which features are most influential in predicting customer purchases.